[bumpversion]
current_version = 2023.0.0
commit = True
tag = True

[bumpversion:file:pulse/__version__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
