Package                       Version             Location
----------------------------- ------------------- ---------------------------------------
alabaster                     0.7.12
appdirs                       1.4.4
appnope                       0.1.0
argon2-cffi                   20.1.0
async-generator               1.10
attrs                         20.3.0
Babel                         2.9.0
backcall                      0.2.0
backports.functools-lru-cache 1.6.1
black                         21.5b0
bleach                        3.2.1
brotlipy                      0.7.0
bump2version                  1.0.1
cached-property               1.5.1
certifi                       2020.12.5
cffi                          1.14.4
cfgv                          3.2.0
chardet                       3.0.4
click                         7.1.2
colorama                      0.4.4
coverage                      5.3
cryptography                  3.2.1
cycler                        0.10.0
daiquiri                      3.0.0
decorator                     4.4.2
defusedxml                    0.6.0
distlib                       0.3.1
docutils                      0.16
entrypoints                   0.3
fancycompleter                0.9.1
fastcache                     1.1.0
fenics                        2019.1.0
fenics-dijitso                2019.1.0
fenics-dolfin                 2019.1.0
fenics-ffc                    2019.1.0
fenics-fiat                   2019.1.0
fenics-plotly                 0.1.5               /Users/henriknf/local/src/fenics_plotly
fenics-pulse                  2020.2.2            /Users/henriknf/local/src/pulse
fenics-ufl                    2019.1.0
filelock                      3.0.12
flake8                        3.8.4
gmpy2                         2.1.0b1
h5py                          3.1.0
identify                      1.5.10
idna                          2.10
imagesize                     1.2.0
importlib-metadata            3.1.1
iniconfig                     1.1.1
ipydatawidgets                4.1.0
ipykernel                     5.3.4
ipython                       7.19.0
ipython-genutils              0.2.0
ipywidgets                    7.5.1
isort                         5.6.4
jedi                          0.17.2
Jinja2                        2.11.2
jsonschema                    3.2.0
jupyter                       1.0.0
jupyter-client                6.1.7
jupyter-console               6.2.0
jupyter-core                  4.7.0
jupyterlab-pygments           0.1.2
jupytext                      1.11.2
K3D                           2.9.1
keyring                       21.5.0
kiwisolver                    1.3.1
ldrb                          2019.3.1
llvmlite                      0.36.0
loguru                        0.5.3
markdown-it-py                1.1.0
MarkupSafe                    1.1.1
matplotlib                    3.3.3
mccabe                        0.6.1
mdit-py-plugins               0.2.8
mistune                       0.8.4
mpi4py                        3.0.3
mpmath                        1.1.0
mshr                          2019.1.0
mypy                          0.790
mypy-extensions               0.4.3
nbclient                      0.5.1
nbconvert                     6.0.7
nbformat                      5.0.8
nbsphinx                      0.8.0
nest-asyncio                  1.4.3
nodeenv                       1.5.0
notebook                      6.1.5
numba                         0.53.1
numpy                         1.20.2
numpy-quaternion              2021.4.5.14.42.35
olefile                       0.46
packaging                     20.7
pandoc                        1.0.2
pandocfilters                 1.4.3
parso                         0.7.1
pathspec                      0.8.1
pathtools                     0.1.2
pdbpp                         0.10.2
petsc4py                      3.13.0
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        8.0.1
pip                           20.2.4
pkgconfig                     1.4.0
pkginfo                       1.6.1
plotly                        4.13.0
pluggy                        0.13.1
ply                           3.11
pre-commit                    2.9.2
prometheus-client             0.9.0
prompt-toolkit                3.0.8
ptyprocess                    0.6.0
py                            1.9.0
pybind11                      2.6.0
pybind11-global               2.6.0
pycodestyle                   2.6.0
pycparser                     2.20
pydocstyle                    6.1.1
pyflakes                      2.2.0
Pygments                      2.7.2
pyOpenSSL                     20.0.0
pyparsing                     2.4.7
pyrepl                        0.9.0
pyrsistent                    0.17.3
PySocks                       1.7.1
pytest                        6.1.2
pytest-cov                    2.10.1
python-dateutil               2.8.1
python-json-logger            2.0.1
pytz                          2020.4
PyYAML                        5.3.1
pyzmq                         20.0.0
qtconsole                     5.0.1
QtPy                          1.9.0
readme-renderer               28.0
regex                         2021.4.4
requests                      2.25.0
requests-toolbelt             0.9.1
retrying                      1.3.3
rfc3986                       1.4.0
scipy                         1.5.3
Send2Trash                    1.5.0
setuptools                    49.6.0.post20201009
six                           1.15.0
slepc4py                      3.13.0
snowballstemmer               2.0.0
Sphinx                        4.0.1
sphinx-gallery                0.9.0
sphinx-rtd-theme              0.5.0
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        1.0.3
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.4
sympy                         1.6.2
terminado                     0.9.1
testpath                      0.4.4
toml                          0.10.2
tornado                       6.1
tqdm                          4.54.1
traitlets                     5.0.5
traittypes                    0.2.1
twine                         3.2.0
typed-ast                     1.4.1
typing-extensions             3.7.4.3
urllib3                       1.26.2
vedo                          2020.4.2
virtualenv                    20.2.1
vtk                           9.0.1
watchdog                      0.10.4
wcwidth                       0.2.5
webencodings                  0.5.1
wheel                         0.35.1
widgetsnbextension            3.5.1
wmctrl                        0.3
zipp                          3.4.0
