pip
bump2version
flake8
tox
isort
coverage
Sphinx
pytest
pytest-cov
pytest-sugar
black
pre-commit
mypy
ipython
sphinx_rtd_theme==0.5.0
nbsphinx
jupytext
pandoc
wheel
watchdog
twine
sphinx-gallery
ipywidgets
