black
bump2version
coverage
flake8
ipython
ipywidgets
isort
jupytext
mypy
nbsphinx
pandoc
pip
pre-commit
pytest
pytest-cov
pytest-sugar
Sphinx
sphinx-gallery
sphinx_rtd_theme==0.5.0
tox
twine
watchdog
wheel
